body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
  margin-left:20px; 
  margin-right:20px; 
}

input[type="button"], input[type="submit"] {
    width: 200px;
    margin-left:20px;
    margin-top:15px;  
} 

textarea { 
    width: 80%; 
    margin-left:50px ; 
    margin-right:50px ; 
    height:200px; 
    overflow-y: auto;  
}

.section 
{ 
    margin-top: 10px; 
}
